@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  /* Custom scroll bar */
  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3e176e;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    border-radius:3px;
    -webkit-box-shadow: inset -1px 1px 0 #180238, inset 1px 1px 0 #310574;
  }
  &::-webkit-scrollbar-track {
    background: #212430;
  }
  &::-webkit-scrollbar-thumb:hover {
  }
}
